body {
    height:100%;
    width:100%;
    font-family: Helvetica;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
  }

  /* Page 1 Styles ---------------------------------------------------------------------------- */
  #cover-photo {
    background-image:url("https://www.lovethegarden.com/sites/default/files/styles/header_image_xl/public/content/articles/UK_learn-grow-garden-advice-gardening-houseplants-best-indoor-plants_header.jpg?itok=uvofKB4t");
    background-size: cover;
    background-position: center;
    width:100%;
    height: 400px;
  }

  #who-are-we{
      margin-top: 50px;
      margin-bottom: 50px;
      padding: 20px;
      background-color: #f1f1f1;
  }

  #who-are-we p{
      color: black;
      line-height: 1.5;
      font-weight: 700;
      font-size: 20px;
  }
  
  h2{
      text-align: center;
      text-decoration: underline;
      color:darkgreen
  }

  #coloumns{
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .column {
    /* float: left;
    width: 33.33%; */
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
  }

  /* Page 2 Styles ---------------------------------------------------------------------------- */
  .page-header {
    padding: 20px;
    background-color: rgb(12, 172, 65);
}

.page-header ul {
    padding:15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
  }

  .page-header h1{
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 2px pink;
  }

  .page-header p{
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
    text-shadow: 2px 2px 2px pink;
  }

  .page-header a {
    display: block;
    padding:0.5em;
    text-decoration:none;
    font-size: 20px;
    color: white;
  }

  .page-header a:hover{
    color: black;
  }
  main {
    padding: 20px;
  }

  .items {
    margin:100px 0  0 100px;
    width: 80%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
  }

  .items img {
    width: 100%;
    height: 200px;
  }


  #cart{
    margin: 0;
    padding: 20px;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
  }

  #item-list{
    list-style: none;
  }


/* Contact Page ---------------------------------------------------------------------------- */
form {
    display: flex;
    flex-direction: column;
    padding: 2em;
    width: 100%;
    max-width: 600px;
    
  }

  input,
  textarea {
    font-size: 1em;
    padding: 0.75em;
  }

  textarea {
    box-sizing: border-box;
    width:100%;
    height:6em;
 
  }

  label {
    display: flex;
    flex-direction: column;
  }


  label.h {
    font-size: 20px;
    line-height: 2;
  }

  #titles{
    margin: 20px;
    font-size: 20px;
    line-height:2;
    display: flex;
    flex-direction: column;
    justify-content: right;
    text-decoration: none;

  }

  input[type=text],
    input[type=email],
    input[type=date] {
      border-style: solid;
      border-width: 1px;
      border-color: #666;
      margin: 1em 0 1em 0;
      border-radius: 0.25em;
      
    }

    button[type=submit] {
        padding: 1em;
        border:none;
        border-radius: 0.25em;
        margin: 0 0 1em 0;
        width: 100px;
      align-self: flex-end;
      }

      span{
          font-size: 20px;
          text-decoration: underline;
      }


/* Footer ---------------------------------------------------------------------------- */


footer{
    background-image: url(https://plantperfect.com/wp-content/uploads/2020/09/headerhouseplants.png);
    background-size: cover;
    background-position: center;
    width:100%;
    color: white;
    height: 200px;
    padding: 50px;
    text-align: center;
}